In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
data = pd.read_csv('healthcare-dataset-stroke-data.csv')

In [5]:
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [6]:
data.drop(labels = ['id', 'smoking_status', 'ever_married', 'work_type', 'Residence_type', 'gender'], axis = 1, inplace = True)
data.dropna(inplace = True)

In [7]:
data.head()

    age  hypertension  heart_disease  avg_glucose_level   bmi  stroke
0  67.0             0              1             228.69  36.6       1
2  80.0             0              1             105.92  32.5       1
3  49.0             0              0             171.23  34.4       1
4  79.0             1              0             174.12  24.0       1
5  81.0             0              0             186.21  29.0       1

In [9]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn import pipeline

In [12]:
le = LabelEncoder()
for i in data:
    if data[i].dtype == 'object':
        data[i] = le.fit_transform(df[i])
    else:
        continue

In [13]:
data.head()

    age  hypertension  heart_disease  avg_glucose_level   bmi  stroke
0  67.0             0              1             228.69  36.6       1
2  80.0             0              1             105.92  32.5       1
3  49.0             0              0             171.23  34.4       1
4  79.0             1              0             174.12  24.0       1
5  81.0             0              0             186.21  29.0       1

In [14]:
x = data.drop(['stroke'],axis = 1)
y = data['stroke']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size= 0.2)

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(X_train)
x_test = sc.transform(X_test)

In [16]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
gnb.fit(X_train,y_train)

GaussianNB()

In [17]:
y_pred = gnb.predict(X_test)

In [18]:
from sklearn.metrics import recall_score, accuracy_score, classification_report, f1_score

accuracy = accuracy_score(y_pred, y_test)

print(accuracy)

0.8747454175152749

In [22]:
print(classification_report(y_test,y_pred))
print('F1 Score:', f1_score(y_test,y_pred, zero_division = 1))

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

print(cm)

              precision    recall  f1-score   support

           0       0.97      0.90      0.93       941
           1       0.12      0.32      0.17        41

    accuracy                           0.87       982
   macro avg       0.54      0.61      0.55       982
weighted avg       0.93      0.87      0.90       982

F1 Score: 0.17449664429530204
[[846  95]
 [ 28  13]]

In [23]:
import pickle
with open('model_pkl.pkl', 'wb') as files:
    pickle.dump(gnb,files)